extends ../layouts/template.pug

block content
    h1
        Span.mr-3 To Do
        a.btn.btn-primary(href="todos/create") New

    .d-flex.align-item-center
        form.ml-auto(action="todos/search" method="get", class="d-flex")
            input(type="text", name = "q", class="form-control")
            button(class="btn btn-primary ml-2") Search

    table.table
        tr
            th To Do
            th Phone
            th Action

        if todos.length > 0
        each todo in todos
            tr
                td= todo.name
                td= todo.phone
                td 
                    a.btn.btn-light(href='/todos/'+ todo.id) Delete

