extends ./layouts/template.pug

block content

    h1 Hello #{name}    
    
    h1
        a(href="/books") Book
    h1
        a(href="/users") User
    h1
        a(href="/transactions") Transaction    

    