extends ../layouts/template.pug

block content
    h1
        Span.mr-3 User
        a.btn.btn-primary(href="users/create") New

    .d-flex.align-item-center
        form.ml-auto(action="users/search" method="get", class="d-flex")
            input(type="text", name = "q", class="form-control")
            button(class="btn btn-primary ml-2") Search

    table.table
        tr
            th Name
            th Phone
            th Action

        if users.length > 0
            each user in users
                tr                                  
                    td= user.name
                    td= user.phone
                    td 
                        a.btn.btn-light.mr-3(href='/users/'+ user.id) Delete
                        a.btn.btn-light(href='/users/view/' + user.id) Edit

