h1 To Do

a(href="todos/create") New

form(action="todos/search" method="get")
    input(type="text", name = "q")
    button Search
    

ul 
    if todos.length > 0
        each todo in todos
            li= todo.title

